.resetContent {
    --background: none;  
    background-color: #F2E5D5; 
    background-image: url('/login_background.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: auto;
}

.resetTitle {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 10%;
    color: #122A40;
    text-shadow: 1px 3px 4px #00000050;
}

.resetFormDiv {
    margin-top: 32vh;
    padding-left: 10%;
    padding-right: 10%;
}

.resetButton {
    margin-top: 3vh;
}