.mainToolbar {
    position: relative;
    --min-height: 10vh;
    --color: #F2E5D5;
    --border-style: none;

    --background: #122A40;
}

.mainTitle {
    padding-left: 4vh;
    padding-top: 5vh;
    padding-bottom: 0;
    text-align: left;
    font-size: 2rem;
    text-shadow: 1px 3px 4px #00000070;
}

.addFormDiv {
    padding-left: 10%;
    padding-right: 10%;
}

.typeSegment {
    width: 80%;
    height: 5vh;
}

.typeSegmentDiv {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.typeSegmentButton {
    font-size: 1.1rem;
}

ion-datetime {
    --background: #122A40;
    --wheel-highlight-background: #8DA1A6;
    --wheel-highlight-border-radius: 48px;
    --wheel-fade-background-rgb: 18, 42, 64;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

ion-modal {
    --border-radius: 20px;
}

ion-datetime::part(wheel-item active) {
    color: #F2E5D5;
}

.timeSelector {
    width: 18vh;
}

.addDateButton {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.dateSelectorDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.addTimeButton {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.timeSelectorDiv {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.startTimeDiv, .endTimeDiv {
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    text-align: center;
}

.timeSelector ion-picker-column {
    width: 1vh;
}

.startTimeLabel, .endTimeLabel {
    font-size: 1rem;
}

.nameInput {
    margin-top: 3vh;
    margin-bottom: 2vh;
    --color: #F2E5D5 !important;
}

.occurLabel {
    margin-bottom: 1vh;
}

.occurDiv {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

ion-checkbox {
    --checkbox-background: var(--background);
}

.confirmAddButton {
    position: absolute;
    bottom: 4vh;
    width: 80%;
    font-weight: 600;
}

.tagSelectInterface button .alert-checkbox-icon {
    background-color: #122A40;
}

button[aria-checked=true].tagSelectOption .alert-checkbox-icon .alert-checkbox-inner {
    border-color: #F2E5D5;
}

.tagSelectInterface .alert-wrapper .alert-button-group button.alert-button {
    color: #F2E5D5;
}

.tagSelectField {
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
    min-height: 3.1em;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 2px;
    margin-right: 2px;
}