/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');


:root.ios,
:root.md,
:root {
	--ion-color-primary: #122A40;
	--ion-color-primary-rgb: 18,42,64;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #102538;
	--ion-color-primary-tint: #2a3f53;

	--ion-color-secondary: #8DA1A6;
	--ion-color-secondary-rgb: 141,161,166;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #7c8e92;
	--ion-color-secondary-tint: #98aaaf;

	--ion-color-tertiary: #F2E5D5;
	--ion-color-tertiary-rgb: 242,229,213;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d5cabb;
	--ion-color-tertiary-tint: #f3e8d9;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

	--ion-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;

	--ion-margin: 24px;

	--ion-background-color: #122A40;
	--ion-background-color-rgb: 18,42,64;

	--ion-text-color: #F2E5D5;
	--ion-text-color-rgb: 242,229,213;

	--ion-text-color-step-50: #e7dcce;
	--ion-text-color-step-100: #dcd2c6;
	--ion-text-color-step-150: #d0c9bf;
	--ion-text-color-step-200: #c5c0b7;
	--ion-text-color-step-250: #bab6b0;
	--ion-text-color-step-300: #afada8;
	--ion-text-color-step-350: #a4a4a1;
	--ion-text-color-step-400: #989a99;
	--ion-text-color-step-450: #8d9192;
	--ion-text-color-step-500: #82888b;
	--ion-text-color-step-550: #777e83;
	--ion-text-color-step-600: #6c757c;
	--ion-text-color-step-650: #606b74;
	--ion-text-color-step-700: #55626d;
	--ion-text-color-step-750: #4a5965;
	--ion-text-color-step-800: #3f4f5e;
	--ion-text-color-step-850: #344656;
	--ion-text-color-step-900: #283d4f;
	--ion-text-color-step-950: #1d3347;

	--ion-background-color-step-50: #1d3347;
	--ion-background-color-step-100: #283d4f;
	--ion-background-color-step-150: #344656;
	--ion-background-color-step-200: #3f4f5e;
	--ion-background-color-step-250: #4a5965;
	--ion-background-color-step-300: #55626d;
	--ion-background-color-step-350: #606b74;
	--ion-background-color-step-400: #6c757c;
	--ion-background-color-step-450: #777e83;
	--ion-background-color-step-500: #82888b;
	--ion-background-color-step-550: #8d9192;
	--ion-background-color-step-600: #989a99;
	--ion-background-color-step-650: #a4a4a1;
	--ion-background-color-step-700: #afada8;
	--ion-background-color-step-750: #bab6b0;
	--ion-background-color-step-800: #c5c0b7;
	--ion-background-color-step-850: #d0c9bf;
	--ion-background-color-step-900: #dcd2c6;
	--ion-background-color-step-950: #e7dcce;

	--ion-item-background: #122A40;
}

body {
	background-color: #122A40;
}